*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #51505299;
}

::selection {
  background-color: #51505299;
}

.selc-blue::-moz-selection {
  background-color: #71B39B99;
}

.selc-blue::selection {
  background-color: #71B39B99;
}

.selc-red::-moz-selection {
  background-color: #DB546199;
}

.selc-red::selection {
  background-color: #DB546199;
}

.txt-blue {
  color: #71B39B;
}

.txt-red {
  color: #DB5461;
}

.und-blue {
  line-height: 0.5;
  border-bottom: 0.75rem solid #71B39B;
  display: inline-block;
}

.und-red {
  line-height: 0.5;
  border-bottom: 0.75rem solid #DB5461;
  display: inline-block;
}

.scroll {
  width: 5rem;
  height: 3rem;
  margin: auto;
}

.scroll .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.scroll .arrow .sharp {
  width: 2rem;
  height: .75rem;
  background-color: #e1e1e1;
}

.scroll .arrow .sharp:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: -.55rem;
}

.scroll .arrow .sharp:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -.55rem;
}

.App {
  overflow-x: hidden;
  background-color: #19191b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23515052' fill-opacity='0.125'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 30rem;
  background-position: 0 -9rem;
}

.App h6 {
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  color: #515052;
}

.App .opening {
  height: 100vh;
}

.App .opening header {
  padding: 0 2.5rem;
}

.App .opening header > h6:nth-of-type(2) {
  text-align: right;
  padding-right: 15rem;
}

.App .opening header .title {
  padding: 0 2.5rem;
}

.App .opening header .title h6:nth-of-type(2) {
  width: 80%;
  text-align: right;
}

.App .opening header .subheading {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.App .opening header h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1rem;
  line-height: .90em;
  color: #e1e1e1;
  font-size: 20rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: #5a5855 0.25rem 0.25rem;
}

.App .opening header h1 .push-right {
  padding: 0 0 0 10rem;
}

.App .opening header h1 span {
  text-shadow: #FAF5F5 0.25rem 0.25rem;
}

.App .opening header h1 div:nth-child(1) {
  opacity: 0;
  -webkit-animation: slide-fade-in 1s;
          animation: slide-fade-in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App .opening header h1 div:nth-child(2) {
  opacity: 0;
  -webkit-animation: slide-fade-in 1s 0.35s;
          animation: slide-fade-in 1s 0.35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App .opening header h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #515052;
  text-transform: capitalize;
  white-space: nowrap;
  overflow-x: hidden;
  width: 0;
  -webkit-animation: grow 1s 1s cubic-bezier(0.66, 0.21, 0.49, 1.02);
          animation: grow 1s 1s cubic-bezier(0.66, 0.21, 0.49, 1.02);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App .opening .nav {
  position: fixed;
  right: 3rem;
  top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  gap: 1rem;
}

.App .opening .nav h6 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.App .opening .nav h6:nth-of-type(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.App .opening .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #71B39B;
  -webkit-box-shadow: #5a5855 0.25rem 0.25rem;
          box-shadow: #5a5855 0.25rem 0.25rem;
  cursor: pointer;
}

.App .opening .nav nav .hamburger {
  gap: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .opening .nav nav .hamburger-line {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #e1e1e1;
  border-radius: 0.15rem;
}

.App main {
  padding: 0 2.5rem;
}

.App main > h6:nth-of-type(2) {
  text-align: right;
}

.App main article {
  padding: 0 2.5rem;
}

.App main article > h6:nth-of-type(2) {
  text-align: right;
}

.App .skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .skills .skills-title {
  padding: 2.5rem;
}

.App .skills .skills-title h3 {
  padding: 0 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  color: #e1e1e1;
  text-shadow: #5a5855 0.125rem 0.125rem;
}

.App .skills .skills-title h3 span {
  text-shadow: #FAF5F5 0.125rem 0.125rem;
}

.App .skills .skills-title h6:nth-of-type(2) {
  text-align: right;
}

.App .skills .skills-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw + 40%);
  gap: 3rem;
}

.App .skills .skills-children .skill {
  width: 20%;
  height: 30rem;
  background-color: #5a5855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.App .skills .skills-children .skill:nth-child(odd) {
  -webkit-box-shadow: #71B39B 0.25rem 0.25rem;
          box-shadow: #71B39B 0.25rem 0.25rem;
}

.App .skills .skills-children .skill:nth-child(even) {
  -webkit-box-shadow: #DB5461 0.25rem 0.25rem;
          box-shadow: #DB5461 0.25rem 0.25rem;
}

.App .skills .skills-children .skill .skill-icon {
  font-size: 12.5rem;
  color: #19191b;
}

.App .skills .skills-children .skill .skill-name {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #e1e1e1;
}

.App .divider-container {
  padding: 3rem;
}

.App .divider-container .divider {
  height: .5rem;
  width: 0;
  background-color: #515052;
}

.space {
  height: 100vh;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  60% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  60% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@-webkit-keyframes slide-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(-1rem, 0);
            transform: translate(-1rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(-1rem, 0);
            transform: translate(-1rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 57.5rem;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 57.5rem;
  }
}
/*# sourceMappingURL=style.css.map */