// --- Variables --- //

// #676768

// Colors
$bg: #19191b;
$bg-txt: #e1e1e1;
$bg-hl: #515052;
$bg-txt-shad: #5a5855;
$selc-default: #51505299;
$hl-b: #71B39B;
$selc-b: #71B39B99;
$hl-r: #DB5461;
$selc-r: #DB546199;
$hl-txt-shad: #FAF5F5;

// Fonts
$f-rigid: 'Roboto',
sans-serif;
$f-curvy: 'Pacifico',
cursive;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: $selc-default;
}


.selc-blue::selection {
    background-color: $selc-b;
}

.selc-red::selection {
    background-color: $selc-r;
}

.txt-blue {
    color: $hl-b;
}

.txt-red {
    color: $hl-r;
}

.und-blue {
    line-height: 0.5;
    border-bottom: .75rem solid $hl-b;
    display: inline-block;
}

.und-red {
    line-height: 0.5;
    border-bottom: .75rem solid $hl-r;
    display: inline-block;
}

.scroll {
    width: 5rem;
    height: 3rem;
    margin: auto;

    .arrow {

        display: flex;
        justify-content: center;
        animation: bounce 2s infinite;

        .sharp {
            width: 2rem;
            height: .75rem;
            background-color: $bg-txt;
        }

        .sharp:nth-of-type(1) {
            transform: rotate(45deg);
            margin-right: -.55rem;
        }

        .sharp:nth-of-type(2) {
            transform: rotate(-45deg);
            margin-left: -.55rem;
        }
    }

}

.App {
    overflow-x: hidden;
    background-color: $bg;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23515052' fill-opacity='0.125'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 30rem;
    background-position: 0 -9rem;

    h6 {
        font-size: 1.5rem;
        font-family: $f-curvy;
        color: $bg-hl;
    }

    .opening {
        height: 100vh;

        header {
            padding: 0 2.5rem;

            >h6 {
                &:nth-of-type(2) {
                    text-align: right;
                    padding-right: 15rem;
                }
            }


            .title {
                padding: 0 2.5rem;

                h6 {

                    &:nth-of-type(2) {
                        width: 80%;
                        text-align: right;
                    }
                }
            }

            .subheading {
                padding: 1rem 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }

            h1 {
                font-family: $f-rigid;
                letter-spacing: 1rem;
                line-height: .90em;
                color: $bg-txt;
                font-size: 20rem;
                font-weight: 800;
                display: flex;
                flex-direction: column;
                text-shadow: $bg-txt-shad .25rem .25rem;

                .push-right {
                    padding: 0 0 0 10rem;
                }

                span {
                    text-shadow: $hl-txt-shad .25rem .25rem;
                }

                div:nth-child(1) {
                    opacity: 0;
                    animation: slide-fade-in 1s;
                    animation-fill-mode: forwards;
                }

                div:nth-child(2) {
                    opacity: 0;
                    animation: slide-fade-in 1s 0.35s;
                    animation-fill-mode: forwards;
                }
            }

            h2 {
                font-size: 3rem;
                font-weight: 600;
                font-family: $f-rigid;
                color: $bg-hl;
                text-transform: capitalize;
                white-space: nowrap;
                overflow-x: hidden;
                width: 0;
                animation: grow 1s 1s cubic-bezier(.66, .21, .49, 1.02);
                animation-fill-mode: forwards;
            }
        }

        .nav {
            position: fixed;
            right: 3rem;
            top: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10rem;
            gap: 1rem;

            h6 {
                align-self: flex-start;

                &:nth-of-type(2) {
                    align-self: flex-end;
                }
            }

            nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: $hl-b;
                // box-shadow: -.5rem -.125rem $hl-b, .5rem .125rem $hl-r;
                box-shadow: $bg-txt-shad 0.25rem 0.25rem;
                cursor: pointer;

                .hamburger {
                    gap: .3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .hamburger-line {
                    width: 2.5rem;
                    height: 0.3rem;
                    background-color: $bg-txt;
                    border-radius: 0.15rem;
                }
            }
        }
    }

    main {
        padding: 0 2.5rem;

        >h6:nth-of-type(2) {
            text-align: right;
        }

        article {
            padding: 0 2.5rem;

            >h6:nth-of-type(2) {
                text-align: right;
            }
        }
    }

    .skills {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;

        .skills-title {
            padding: 2.5rem;

            h3 {
                padding: 0 3rem;
                font-family: $f-rigid;
                font-size: 10rem;
                color: $bg-txt;
                text-shadow: $bg-txt-shad .125rem .125rem;

                span {
                    text-shadow: $hl-txt-shad .125rem .125rem;
                }
            }

            h6:nth-of-type(2) {
                text-align: right;
            }

        }

        .skills-children {
            display: flex;
            width: calc(100vw + 40%);
            gap: 3rem;

            .skill {
                width: 20%;
                height: 30rem;
                background-color: $bg-txt-shad;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3rem;

                &:nth-child(odd) {
                    box-shadow: $hl-b .25rem .25rem;
                }

                &:nth-child(even) {
                    box-shadow: $hl-r .25rem .25rem;
                }

                .skill-icon {
                    font-size: 12.5rem;
                    color: $bg;
                }

                .skill-name {
                    font-size: 5rem;
                    font-family: $f-rigid;
                    font-weight: 800;
                    color: $bg-txt;
                }
            }
        }
    }

    .divider-container {
        padding: 3rem;

        .divider {
            height: .5rem;
            width: 0;
            background-color: $bg-hl;
        }
    }
}

// remove later <--------------------------------------- Remove!
.space {
    height: 100vh;
}




@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-1rem);
    }

    60% {
        transform: translateY(-.5rem);
    }
}

@keyframes slide-fade-in {
    from {
        opacity: 0;
        transform: translate(-1rem, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes grow {
    from {
        width: 0;
    }

    to {
        width: 57.5rem; // Note that this number is exact and will not work on other screen sizes
    }
}